In [4]:
from bs4 import BeautifulSoup as BS
import requests as req
import pandas as pd
import numpy as npy

In [22]:
draw_file = ("assets/megamillions.csv")
weather_file = ("assets/mega_weather.csv")


draw_df = pd.read_csv(draw_file, engine='python')
weather_df = pd.read_csv(weather_file, engine='python')

#Split the "DATE_TIME" column into 2 seperate columns "Date" and "Time".

weather_df['Date'] = pd.to_datetime(weather_df['DATE_TIME']).dt.date
weather_df['Time'] = pd.to_datetime(weather_df['DATE_TIME']).dt.time

draw_df
weather_df.describe()

dft = draw_df.T #Transpose the dataframe.

dft

,0,1,2,3,4,5,6,7,8,9,...,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343
date_code,date=000000000000000000,date=638064864000000000,date=638061408000000000,date=638058816000000000,date=638055360000000000,date=638052768000000000,date=638049312000000000,date=638046720000000000,date=638043264000000000,date=638040672000000000,...,date=634033440000000000,date=634030848000000000,date=634027392000000000,date=634024800000000000,date=634021344000000000,date=634018752000000000,date=634015296000000000,date=634012704000000000,date=634009248000000000,date=634006656000000000
draw_date,12/16/2022,12/13/2022,12/9/2022,12/6/2022,12/2/2022,11/29/2022,11/25/2022,11/22/2022,11/18/2022,11/15/2022,...,3/5/2010,3/2/2010,2/26/2010,2/23/2010,2/19/2010,2/16/2010,2/12/2010,2/9/2010,2/5/2010,2/2/2010
num_1,8,14,8,15,1,20,29,13,2,6,...,11,9,4,4,1,11,14,2,10,6
num_2,35,22,19,16,21,23,31,23,14,19,...,31,12,14,16,22,12,16,17,20,7
num_3,40,48,53,19,36,37,46,24,16,28,...,34,47,29,36,39,21,17,20,45,26
num_4,53,58,61,28,46,46,54,25,38,46,...,44,48,54,40,42,29,33,26,51,27
num_5,56,68,69,47,52,52,67,43,66,61,...,52,56,56,53,46,45,47,48,53,49
MB,11,6,19,13,16,6,18,2,9,18,...,32,25,40,18,36,5,23,12,41,9

In [25]:
draw_df[0:2][['num_1', 'num_5']] #Slice the dataframe by selected row indexes and a list of column names.
draw_df['num_3'][:4] #create a series from the first 4 rows (0 - 3) of the column string "num_3".
dft['num_2' : 'num_5'] #Slice transposed dataframe with row name from 'num_2 up to and including 'num_5'.
dft.loc['num_3', 2] #Row/Column based indexing. loc uses lables to slice.
draw_df.iloc[1:100, :] #Slice dataframe by rows 1 - 99 and all columns. iloc uses integers as index positions to slice.

53